// variables

$main_color: #fff;
$main_font-size: 24px;
$first_font-family: a_FuturicaLt, Arial, sans-serif;
$second_font-family: aFuturicaBook, Arial, sans-serif;
$thirth_font-family: aquatico, Arial, sans-serif;
$fourth_font-family: OpenSans, Arial, sans-serif;

$futuricalt: a_FuturicaLt, Arial, sans-serif;
$futuricabook: aFuturicaBook, Arial, sans-serif;
$futuricamed: aFuturicaMedium, Arial, sans-serif;
$aquatico: aquatico, Arial, sans-serif;
$opensans: OpenSans, Arial, sans-serif;
$codepro: Code-Pro, Arial, sans-serif;
$futurapt: FuturaPT, Arial, sans-serif;
$archive: Archive, Arial, sans-serif;