

.reps__address h3, .reps__address h3:before, .map__marker, .map__line, .animation, .animation--fade-in, .animation--fade-out, .animation--slide-up-in, .animation--slide-up-out, .animation--slide-down-in, .animation--slide-down-out, .animation--slide-left-in, .animation--slide-left-out, .animation--slide-right-in, .animation--slide-right-out {
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0.25, 0.74, 0.22, 0.99); }

.disable-transitions, .disable-transitions * {
  transition: none !important; }


.reps__address {
  color: rgba(255, 255, 255, 0.2);
  color: #4e4c4c; }

.reps__address h3 {
  margin: 0 !important;
  transition-property: color; }

.reps__address h3:before {
  transition-property: transform; }

.reps__address ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.reps__address a {
  transition-property: color; }

@media screen and (max-width: 979px) and (max-height: 415px) and (orientation: landscape), (max-width: 668px) {
  .reps__address__content {
    padding-bottom: 26px; }
  .reps__address h3 {
    position: relative;
    padding: 11px 0 12px;
    border-top: 1px solid #423f3a;
    cursor: pointer; }
  .reps__address h3:before {
    width: 13px;
    height: 7px;
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    background: url("https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets//images/landing/contact/form-select-arrow-light.png?t=1506373042220"); } }

@media only screen and (max-width: 979px) and (max-height: 415px) and (orientation: landscape) and (min-device-pixel-ratio: 2), only screen and (max-width: 668px) and (min-device-pixel-ratio: 2), only screen and (max-width: 979px) and (max-height: 415px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 979px) and (max-height: 415px) and (orientation: landscape) and (min-resolution: 192dpi), only screen and (max-width: 668px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 668px) and (min-resolution: 192dpi), only screen and (max-width: 979px) and (max-height: 415px) and (orientation: landscape) and (min-resolution: 2dppx), only screen and (max-width: 668px) and (min-resolution: 2dppx) {
  .reps__address h3:before {
    background-image: url("https://cdn2.hubspot.net/hubfs/439788/intechnic_2017/assets//images/landing/contact/form-select-arrow-light@2x.png?t=1506373042220");
    background-size: 13px 7px; } }

@media screen and (max-width: 979px) and (max-height: 415px) and (orientation: landscape), (max-width: 668px) {
  .reps__address h3.is-active:before {
    transform: rotate(180deg); }
  .reps__address li:first-child h3 {
    border-top-color: transparent; } }

@media screen and (min-width: 668px) and (min-height: 416px) {
  .reps__address {
    position: absolute;
    // left: 57%;
    // bottom: 30px; 
    left: 0%;
    bottom: 0;
  }
  .reps__address h3 {
    display: inline-block; }
  .reps__address li {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    visibility: hidden; }
  .reps__address li.is-active {
    visibility: visible;
    z-index: 0; } }

@media screen and (min-width: 980px) {
  .reps__address {
    // left: 44%;
    // bottom: 95px; 
    left: 0%;
    bottom: 0;
    } 
  }

@media screen and (min-width: 1356px) {
  .page-main .reps__address {
    bottom: 75px; } }

.map {
  position: relative;
  width: 100%; }

.map__inner {
  position: relative;
  max-width: 840px;
  margin: 0 auto; }


.map img {
  width: 100%;
  height: auto; }

.map__marker {
  position: absolute;
  z-index: 1;
  background: #fff;
  /*background: #d82533;*/
  width: 21px;
  height: 21px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition-property: transform,background; 
  transition: all .5s ease;
  @media screen and (max-height: 1000px) {
    width: 12px;
    height: 12px;
  }
}

.has-hover .map__marker:hover {
  transform: translate(-50%, -50%) scale(1); }

.map__marker.is-active {
  z-index: 0;
  background: #fff;
  box-shadow: 0px 0px 20px 10px #fff;
  transform: translate(-50%, -50%) scale(1); }

.map__marker:before {
  // content: "";
  // position: absolute;
  // display: block;
  // left: -25px;
  // top: -25px;
  // right: -25px;
  // bottom: -25px; 
}

.map__marker:nth-of-type(2) {
  top: -10px;
  right: -10px; }

.map__marker:nth-of-type(3) {
  left: -10px;
  bottom: -10px; }

.map__line {
  position: absolute;
  z-index: 0;
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  /*opacity: .3;*/
  filter: drop-shadow(3px 3px 5px #fff);
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-property: stroke-dashoffset; }

.map__line--in {
  stroke-dashoffset: 0 !important; }

@media screen and (min-width: 980px) {
  .map {
    margin: 0; } }

@media screen and (min-width: 1356px) {
  .map__inner {
    max-width: none; } }
@media screen and (max-height: 1000px) {
  .map__inner {
    max-width: 1000px; 
    @media screen and (max-height: 850px) {
      max-width: 840px;
    }
     @media screen and (max-height: 850px) {
      max-width: 680px;
    }
  } 
}    



.is-hidden, .is-hidden--xs-up, .is-hidden--xl-down, .print-only {
  display: none !important; }

@media screen and (max-width: 479px) and (orientation: portrait) {
  .is-hidden--xs {
    display: none !important; } }

.is-hidden--xs-up {
  display: none !important; }

@media screen and (max-width: 979px) and (max-height: 415px) and (orientation: landscape) {
  .is-hidden--sm {
    display: none !important; } }

@media screen and (max-width: 979px) and (max-height: 415px) and (orientation: landscape), (min-width: 668px) and (min-height: 416px) {
  .is-hidden--sm-up {
    display: none !important; } }

@media screen and (max-width: 979px) and (max-height: 415px) and (orientation: landscape), (max-width: 668px) {
  .is-hidden--sm-down {
    display: none !important; } }

@media screen and (min-width: 668px) and (max-width: 979px) and (min-height: 416px) {
  .is-hidden--md {
    display: none !important; } }

@media screen and (min-width: 668px) and (min-height: 416px) {
  .is-hidden--md-up {
    display: none !important; } }

@media screen and (max-width: 979px) {
  .is-hidden--md-down {
    display: none !important; } }

@media screen and (min-width: 980px) and (max-width: 1699px), (min-width: 980px) and (max-height: 999px) {
  .is-hidden--lg {
    display: none !important; } }

@media screen and (min-width: 980px) {
  .is-hidden--lg-up {
    display: none !important; } }

@media screen and (max-width: 1699px), (max-height: 999px) {
  .is-hidden--lg-down {
    display: none !important; } }

@media screen and (min-width: 1200px) {
  .is-hidden--lgl-up {
    display: none !important; } }

@media screen and (max-width: 1199px) {
  .is-hidden--lgl-down {
    display: none !important; } }

@media screen and (min-width: 1356px) {
  .is-hidden--lgl2-up {
    display: none !important; } }

@media screen and (max-width: 1355px) {
  .is-hidden--lgl2-down {
    display: none !important; } }

@media screen and (min-width: 1700px) and (min-height: 1000px) {
  .is-hidden--xl {
    display: none !important; } }

@media screen and (min-width: 1700px) and (min-height: 1000px) {
  .is-hidden--xl-up {
    display: none !important; } }



.animation--slow {
  transition-duration: .8s; }

.animation--extra-slow {
  transition-duration: 1.6s; }

.animation--fade-in, .animation--fade-out {
  will-change: opacity;
  pointer-events: none; }

.animation--fade-in--inactive, .animation--fade-out--active {
  opacity: 0; }

.animation--slide-up-in, .animation--slide-up-out {
  will-change: opacity,transform;
  pointer-events: none; }

.animation--slide-up-in--inactive, .animation--slide-up-out--active {
  opacity: 0;
  transform: translateY(-20px); }

.animation--slide-down-in, .animation--slide-down-out {
  will-change: opacity,transform;
  pointer-events: none; }

.animation--slide-down-in--inactive, .animation--slide-down-out--active {
  opacity: 0;
  transform: translateY(20px); }

.animation--slide-left-in, .animation--slide-left-out {
  will-change: opacity,transform;
  pointer-events: none; }

.animation--slide-left-in--inactive, .animation--slide-left-out--active {
  opacity: 0;
  transform: translateX(-20px); }

.animation--slide-right-in, .animation--slide-right-out {
  will-change: opacity,transform;
  pointer-events: none; }

.animation--slide-right-in--inactive, .animation--slide-right-out--active {
  opacity: 0;
  transform: translateX(20px); }